<!DOCTYPE html>{% load i18n %}
<html>
<head>
    <title>Rss</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui-1.10.4.custom.min.css">
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/csrf.js"></script>
    <script src="{{STATIC_URL}}js/api.js"></script>
    <style>
        body {background-color:#f3f3f3;}
    </style>
</head>
<body>

<div>
    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
    </form>
    {% if user.is_authenticated %}
        <div class="col-md-offset-9">{{user}} <a href="{% url 'logout' %}">{% trans 'Log out' %}</a></div>
    {% endif %}
</div>


<div class="text-center"><h1 class="text-primary"><a href="{% url 'index' %}">{% trans 'Lagovas Reader' %}</a></h1></div>
{% block side-menu %}
<div class="col-md-2">
    <div class="text-center">{% trans 'Feeds history' %}</div>
    <ul class="list-group">
        {% for feed in feeds %}
        <li class="list-group-item"><a href="{{feed.get_absolute_url}}">{{feed.name}} </a><span id="remove_feed_{{feed.id}}" class="glyphicon glyphicon-remove"></span></li>
        {% endfor %}
        <li class="list-group-item" style="margin-top:15px;"><a href="{% url 'saved' %}">{% trans 'Saved' %}</a></li>
    </ul>
    <div class="text-center">{% trans 'Add feed' %}</div>
    <form method="POST" action="{% url 'add-feed' %}">
        {% csrf_token %}
        <ul class="list-group">
            <li class="list-group-item">
                {% for error in feed_form.name.errors %}
                    <div>{{error}}</div>
                {% endfor %}
                {{feed_form.name.label}}<br />
                {{feed_form.name}}
            </li>
            <li class="list-group-item">
                {% for error in feed_form.url.errors %}
                    <div>{{error}}</div>
                {% endfor %}
                {{feed_form.url.label}}<br />
                {{feed_form.url}}<br />
                <div class="text-center">
                    <input type="submit" value="{% trans 'Add' %}" />
                </div>
            </li>
        </ul>
    </form>
</div>
{% endblock side-menu %}
<div class="col-md-10">
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>