{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="col-md-6">
    <h3>{{feed.name}}</h3>
    <ul class="list-group">
        {% for item in items%}
            <li id="read_{{item.pk}}" class="list-group-item">
                <span class="set-readed">{{item.title}} </span>

                <span id="save_{{item.pk}}" class="glyphicon {% if item.is_saved %}glyphicon-floppy-saved{% else %}glyphicon-floppy-disk{% endif %} set-saved">
                </span>
                <span id="tag_{{item.pk}}" class="glyphicon glyphicon-tag set-tag">
                <a href="{{item.link}}"><span class="glyphicon glyphicon-globe"></span></a>
                </span>
                |
                {% for tag in item.tags.all %}
                {{tag.name}}
                {% endfor %}
                {% autoescape off %}
                    <div class="hidden"><hr/>{{item.description}}</div>
                {% endautoescape %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}