{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="col-md-12">
        <form method="POST" action="{% url 'mark-read' %}">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">{% trans 'Mark all as read' %}</button>
        </form>
        {% for feed, feeditems in items.iteritems %}
        <div>
            <h3>{{feed}}</h3>
            <ul class="list-group">
                {% for item in feeditems %}
                    <li id="read_{{item.pk}}" class="list-group-item">
                        <span class="set-readed">{{item.title}} </span>

                        <span id="save_{{item.pk}}" class="glyphicon {% if item.is_saved %}glyphicon-floppy-saved{% else %}glyphicon-floppy-disk{% endif %} set-saved">
                        </span>
                        <span id="tag_{{item.pk}}" class="glyphicon glyphicon-tag set-tag">
                        </span>
                        <a href="{{item.link}}"><span class="glyphicon glyphicon-globe"></span></a>
                        <span class="tags">|
                            {% for tag in item.tags.all %}
                            {{tag.name}}
                            {% endfor %}
                        </span>
                        {% autoescape off %}
                            <div class="hidden"><hr/>{{item.description}}</div>
                        {% endautoescape %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div id="new-tag-dialog" class="hidden">
        <input type="hidden" autofocus="autofocus" />
        <form method="POST" action="#" id="set-tag-form">
            {% csrf_token%}
            {{tag_form.name.label}}</br>
            <input type="text" id="{{tag_form.name.id_for_label}}" name="{{form.name.html_name}}" /></br>
            <button type="button" id="set-tag-btn">{% trans 'Add tag' %}</button>
        </form>
    </div>
{% endblock content %}