{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="col-md-4">
        {% trans 'Вход' %}
        <form action="{% url 'login' %}" method="post">
        <input type="hidden" name="type" value="0" />
        {{form.non_field_errors}}
        {%csrf_token%}
        {% trans 'Username' %}<br/>
        {{form.username}}<br/>
        {% trans 'Password' %}<br/>
        {{form.password}}<br/>
        <button type="submit"  >{% trans 'Send' %}</button>
        </form>
    </div>

    <div class="col-md-4">
        {% trans 'Регистрация' %}
        <form action="{% url 'login' %}" method="post">
        <input type="hidden" name="type" value="1" />
        {{form.non_field_errors}}
        {%csrf_token%}
        {% trans 'Username' %}<br/>
        {{form.username}}<br/>
        {% trans 'Password' %}<br/>
        {{form.password}}<br/>
        <button type="submit"  >{% trans 'Send' %}</button>
        </form>
    </div>
{% endblock content%}

{% block side-menu %}
{% endblock side-menu %}